* {
  /* outline: 1px solid red; */
}

.form-row {
  margin-bottom: 10px !important;
}


.navbar, .comment-container{
  background-color: #3b5998;
}



.navbar-brand{
  color: aliceblue !important;
  font-weight: bold;
}


body {
  background-color: #e9ebee;
}

small {
  /* color: crimson; */
}

.jumbotron{
  padding: 2rem !important;
}

.comment-container {
  padding: 1rem !important;
}